pkgbase = bongocat
	pkgdesc = Desktop pet that reacts to your keyboard and mouse input (Live2D on SDL3 and OpenGL)
	pkgver = 1.13.1
	pkgrel = 1
	url = https://github.com/vladelaina/BongoCat
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	depends = curl
	depends = fontconfig
	depends = gcc-libs
	depends = libglvnd
	depends = libx11
	depends = libxfixes
	depends = libxi
	optdepends = alsa-lib: ALSA backend for motion sounds
	optdepends = pipewire-pulse: PulseAudio backend provided by PipeWire
	optdepends = pulseaudio: PulseAudio backend for motion sounds
	optdepends = noto-fonts-cjk: glyphs for the Chinese, Japanese and Korean interface
	conflicts = bongocat-bin
	conflicts = bongocat-git
	noextract = CubismSdkForNative-5-r.5.zip
	noextract = glew-2.2.0.zip
	options = !debug
	options = !lto
	source = bongocat-1.13.1.tar.gz::https://github.com/vladelaina/BongoCat/archive/refs/tags/v1.13.1.tar.gz
	source = CubismSdkForNative-5-r.5.zip::https://cubism.live2d.com/sdk-native/bin/CubismSdkForNative-5-r.5.zip
	source = glew-2.2.0.zip::https://github.com/nigels-com/glew/releases/download/glew-2.2.0/glew-2.2.0.zip
	sha256sums = SKIP
	sha256sums = 7ff3a4bbc19c0a8728965aa522ab77eb11b252916453e68a8a78d3b71188bb12
	sha256sums = a9046a913774395a095edcc0b0ac2d81c3aacca61787b39839b941e9be14e0d4

pkgname = bongocat
